.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ma-app-footer {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}
.ma-footer-copyright{
  color: white;
  text-decoration: none;
}
.ma-footer-copyright:hover{
  color: white;
  text-decoration: none;
}
.ma-app-body-content{
  min-height: calc(100vh - 50px);
  margin: 25px 0;
}
.ma-page-heading{
  margin: 20px 0;
  background: #ddd;
  padding: 10px;
}
.ma-overflow-x{
  overflow-x:auto;
}
.ma-negative-blnc{
  color:red;
}
.ma-positive-blnc{
  color:green;
}
.ma-page-not-found{
  text-align: center;
}

.App-link {
  color: #61dafb;
}